<p>workout-list works!</p>
<ul>
    <li>
        <div>
            Workout 1
            <a href="active-workout/1"><b>Play</b></a>
            <a href="workout-view/1"> Edit</a>
        </div>

    </li>
    <li>
        <div>
            Workout 2
            <a href="active-workout/2"><b>Play</b></a>
            <a href="workout-view/2"> Edit</a>
        </div>
    </li>
    <li>
        <div>
            Workout 3
            <a href="active-workout/3"><b>Play</b></a>
            <a href="workout-view/3"> Edit</a>
        </div>
    </li>
</ul>