<nav>
    <div><a routerLink="/home" routerLinkActive="active">Home</a></div>
    <div><a routerLink="/workouts" routerLinkActive="active">Workouts</a></div>
    <div><a routerLink="/exercises" routerLinkActive="active">Exercises</a></div>
    <div><a routerLink="/history" routerLinkActive="active">History</a></div>
    <div><a routerLink="/profile" routerLinkActive="active">Profile</a></div>
    <div><a routerLink="/settings" routerLinkActive="active">Settings</a></div>
    @if (workoutPlayerService.activeWorkout() != null) {
        <div><a routerLink="/active-workout/{{ workoutPlayerService.activeWorkout()?.id }}" routerLinkActive="active">Active Workout</a></div>
    }
</nav>