<ol class="items-list">
    @for (exercise of mockService.exercises(); track exercise.id) {
    <li class="exercise-card list-item featured">
        <div class="item-info">
            <span class="item-name">{{exercise.name}}</span>
            <div class="item-meta">
                <span class="badge">{{exercise.type}}</span>
                @for(muscleGroup of exercise.muscleGroups; track muscleGroup.id) {
                    <span class="tags">{{muscleGroup.name}}</span>
                }
            </div>
            <div class="item-actions">
                <button class="action-btn btn-primary">
                    <span class="material-symbols-outlined">Edit</span>
                </button>
                <button class="action-btn btn-secondary">
                    <span class="material-symbols-outlined">Delete</span>
                </button>
            </div>
        </div>
    </li>
    }
</ol>