@if(workoutPlayerService.activeWorkout(); as activeWorkout) {
    <div class="navbar">
        <span>
            <p>{{ activeWorkout.name }}</p>
        </span>
        <p>{{ workoutPlayerService.isPlaying() ? 'Playing' : 'Paused' }}</p>
        <span>
            <button type="button" (click)="workoutPlayerService.togglePlayPause()">
                {{ workoutPlayerService.isPlaying() ? 'PAUSE' : 'PLAY' }}
            </button>
        </span>
        <span>
            <button type="button" (click)="stopWorkout()">STOP</button>
        </span>
        <span>
            <button type="button" (click)="goToWorkout()">Go to Workout</button>
        </span>
    </div>
}