header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.main-container {
    padding: var(--container-padding);
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 2rem;
}